#steps{
    text-align: center;
    padding: 2em 0;
    .title{
        padding: 0 0 1em 0;
    }
    .step{
        i{
           width: 3em;
           height: 3em;
           font-size: 2.5em; 
           border-radius: 50%;
           color: $white-default;
           &.one{
                background: $salmon1-default;
                padding: 1em;
                &:hover, &:active {
                    background-color: $white-default;
                    color: #CD0000;
                    transition: .3s all;
                }  
           }
           &.two{
                background: $brown1-default;
                padding: 1em;
                &:hover, &:active {
                    background-color: $white-default;
                    color: #CD0000;
                    transition: .3s all;
                } 
           }
           &.three{
                background: $red-dark-default;
                padding: 1em;
                &:hover, &:active {
                    background-color: $white-default;
                    color: #CD0000;
                    transition: .3s all;
                } 

           }
        }
        h4{
            color: $font-color-default;
            padding: 0.5em 0;
        }
        p{
            color: #333333;
        }
    }
}