$body-bg: #fefefe;
$red-default: #FE2740;
$white-default: #f1f1f1;
$red-dark-default: #ed283b;
$brown1-default: #FF4040;
$salmon2-default: #EE8262;
$salmon1-default: #FF8C69;
$font-color-default: #292929;
$font-default:'Montserrat', sans-serif;